<template>
  <div class="waterfall">
    <div
      class="container"
      ref="container"
      :class="isScrollPausing || 'scroll-smooth'"
      @mousedown="handleContainerTouchStart"
      @mouseup="handleContainerTouchEnd"
      @mouseleave="handleContainerTouchEnd"
      @wheel="handleWheel"
      @touchstart="handleContainerTouchStart"
      @touchend="handleContainerTouchEnd"
    >
      <ul class="stream" ref="stream">
        <li class="msg" v-for="(msg, index) in messages" :key="index">
          <div class="text">{{ msg }}</div>
        </li>
      </ul>
    </div>
    <div
      class="tips"
      v-show="isScrollPausing && newMsgCount"
      @click="clearPool"
    >
      有{{ newMsgCount }}条新消息
    </div>
  </div>
</template>

<script setup>
import { ref } from 'vue'

const props = defineProps({
  getMessage: {
    type: Function,
    required: true,
  },
})

const containerHeight = 300
const messages = ref([])
const pool = ref([])
const isScrollPausing = ref(false)
const container = ref(null)
const stream = ref(null)
const newMsgCount = ref(0)

let mtc = 0

const getMsg = async () => {
  const newMsg = await props.getMessage(
    messages.value.length + pool.value.length
  )
  pool.value.push(...newMsg)

  // 等待一次消息请求完成后再执行推送操作，如果直接异步执行，容易出现不可控的自动滚动问题
  // 这里相当于从池子里推消息的间隔时间是 getMessage请求时间 + getMsg间隔(20) * n，此处设置n = 1
  if (mtc >= 1) {
    mtc = 0
    pushMsg()
  } else {
    mtc++
  }

  // 设置短时间获取信息的定时器
  setTimeout(getMsg, 20)
}

const pushMsg = () => {
  if (pool.value.length > 0) {
    // 每次最多推3条，可视消息字体大小和推送速度调整
    const pushingMsg = pool.value.splice(0, 3)
    messages.value.push(...pushingMsg)

    if (!isScrollPausing.value) {
      newMsgCount.value = 0
      container.value?.scrollTo(0, stream.value?.offsetHeight)
    } else {
      // 显示的新消息条数 = 从暂停滚动开始被推送到消息列表的消息数量，可考虑加上待推送池子里的消息数量
      newMsgCount.value += pushingMsg.length
    }
  }
}

// 当触摸开始（鼠标按下）时，暂停滚动
const handleContainerTouchStart = e => {
  isScrollPausing.value = true
}

const handleContainerTouchEnd = e => {
  const { offsetTop } = e.target
  const { offsetHeight } = stream.value

  // 此处100px的判断距离需要根据消息速度进行调整，可以根据速度来计算得到一个距离
  // 如果距离不够，会出现手动拖到最底下时无法回到自动滚动状态的问题
  const value = offsetTop + containerHeight - offsetHeight < 100
  if (isScrollPausing.value && !value) {
    clearPool()
  }
}

// 清空待推送消息池子
const clearPool = () => {
  messages.value.push(...pool.value.splice(0, pool.value.length))
  container.value?.scrollTo(0, stream.value?.offsetHeight)
  isScrollPausing.value = false
}

const handleWheel = e => {
  isScrollPausing.value = true
  handleContainerTouchEnd(e)
}

getMsg()
</script>

<style lang="less" scoped>
.waterfall {
  position: relative;

  .container {
    height: 300px;
    width: 200px;
    overflow-y: auto;
    border: 1px solid #999;

    &.scroll-smooth {
      scroll-behavior: smooth;
    }

    .stream {
      margin: 0;
      padding: 0;
      text-align: left;
      min-height: 300px;

      .msg {
        margin: 0;
        list-style: none;
        font-size: 18px;
        line-height: 18px;
      }
    }
  }

  .tips {
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    transform: translateY(100%);
  }
}
</style>
