<template>
  <Waterfall :getMessage="getMessage" />
</template>

<script setup>
import Waterfall from './components/Waterfall.vue'

const getMessage = async (existCount = 0) => {
  return new Promise(resolve => {
    setTimeout(() => {
      const random = Math.random() * 100
      let msgCount = 0

      if (random > 90) {
        msgCount = 3
      } else if (random > 60) {
        msgCount = 2
      } else if (random > 10) {
        msgCount = 1
      }

      const newMsgs = [...Array(msgCount)].map(
        (_, i) => `message_${existCount + i}`
      )

      resolve(newMsgs)
    }, 30)
  })
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
